.title{
    text-align: center;
    background-color: aqua;
    font-family: Copperplate, fantasy;
    font-style: italic;
}
.links {
    
    padding: 20px;
    list-style-image: url(https://www.gifs.cc/bullets/green-rolling-bullet-animated.gif) ;
    list-style-position: inside;
    

}
.main.link{
    font-family: 'Lucida Console', Monospace;
    font-weight: 800;
    margin: 5px;
    padding: 20px;
    background: aqua;
    
}
.steak-tacos-title {
    text-align: center;
    color:limegreen; 
    font-family: Arial, Helvetica, sans-serif;
}
.steak-img { 
    border-radius: 50%;
    padding: 5px;
    margin-left: 200;
    margin-right: auto;
}
.steak-description {
    text-align: center;
}
.steak-description-para {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.steak-ingredients {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
li {
   list-style-image: url(https://www.gifs.cc/bullets/green-rolling-bullet-animated.gif);
   list-style-position: inside;
   display: list-item;
}
.steak-steps{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.step-list{
    font-family: Arial, sans-serif;
}
